 @import "minima";

 .container {
     max-width: 800px;
     margin: 0 auto;
     padding: 0 20px;
 }

 .highlight {
     background-color: #f8f8f8;
     border-radius: 3px;
     padding: 8px 12px;
 }

 h1,
 h2,
 h3 {
     border-bottom: 1px solid #eee;
     padding-bottom: 0.3em;
 }